<div class="background">
  <div class="gradient">
    <div class="container">
      <div class="actions">

        <a matTooltip="O Processo, Mahabharata, Livro do Mortos Tibetanos, 
          A Divina Comédia, Utopia, Sidarta, O Pequeno Príncipe, Madame Bovary,
          O Fantasma da Ópera, Os Miseráveis, As Flores do Mal, Os Irmãos Karamazov
          Dom Quixote, Hamlet, Os Sofrimentos do Jovem Werther, Madame Bovary, Os Três Mosqueteiros,
          A Comédia Humana, Guerra e Paz, Metamorfose, Arte da Guerra, O Idiota, O Velho e o Mar" matTooltipPosition="below">
        <a [ngClass]="animateOnRouteEnter" mat-raised-button color="primary" routerLink="../features">
          <i class="material-icons">toys</i>
          Nossos Games 
        </a>
        </a>
        
        <a matTooltip="Vamos iniciar a diversão !" matTooltipPosition="below">
        <a mat-raised-button color="accent" routerLink="../examples" [ngClass]="animateOnRouteEnter">
          <i class="material-icons">pan_tool</i>
          Sala de Aula
        </a>
       </a>
    
       <a matTooltip="Resumo da obra Macunaíma nasceu numa tribo amazônica. Lá, passa sua infância, mas não é uma criança igual às outras do lugar. É um menino mentiroso, traidor, pratica muitos atos incorretos, fala muitos palavrões, além de ser extremamente preguiçoso. Tem dois irmãos, Maanape e Jiguê.
       Vai vivendo, assim, a sua meninice. Cresce e se apaixona pela índia Ci, a Mãe do Mato, seu único amor, que lhe dá um filho, o qual morre no dia seguinte ao seu nascimento. Depois da morte de sua mulher, Macunaíma perde um amuleto que um dia ela havia lhe dado de presente, a pedra muiraquitã. Fica desesperado com esta perda, até que descobre que a sua muiraquitã havia sido levada por um mascate peruano, Venceslau Pietro Pietra, o gigante Piamã, que morava em São Paulo. Depois da descoberta do destino de sua pedra, Macunaíma e seus irmãos resolvem ir atrás dela para recuperá-la. Piamã era um famoso comedor de gente, mas, mesmo assim, Macunaíma vai atrás de sua pedra.
       A história, a partir daí, começa a discorrer contando as aventuras de Macunaíma na tentativa de reaver a sua muiraquitã que fora roubada pelo comerciante Piamã. Após conseguir a pedra, Macunaíma regressa para a sua tribo, onde, após uma série de aventuras, perde novamente sua pedra. Então, ele desanima, pois, sem o seu talismã, que, no fundo, é o seu próprio ideal, o herói reconhece a inutilidade de continuar a sua procura e se transforma na constelação Ursa Maior, que, para ele, significava se transformar em nada que servisse aos homens. Por isso, vai parar no campo vasto do céu, sem dar calor ou vida a pessoa alguma.?" matTooltipPosition="below">
          <a mat-raised-button routerLink="../settings" [ngClass]="animateOnRouteEnter">
          <i class="material-icons">add_shopping_cart</i>
          Loja Compras
        </a>
      </a>
     
      </div>
      <div class="get-started" [ngClass]="animateOnRouteEnter">
        </div>
        <!-- BOTÕES -->
      <div class="button-row">
         <a matTooltip="Como nos encontrar ? web2ajax@gmail.com, Trabalhe na BooksGames-Br" matTooltipPosition="below">
             <button mat-fab color="primary" routerLink="../contato">
         <i class="material-icons">mail_outline</i>
            </button>
         </a>

            <button mat-icon-button color="warn">
              <mat-icon >android</mat-icon>
            </button>

            <a matTooltip="issue" matTooltipPosition="below">
                <button mat-fab color="primary" routerLink="../issue">
                  <i class="material-icons">bug_report</i>
                </button>
            </a>

                <a matTooltip="Dúvidas Técnicas, entre em contato via Slack" 
                   href="https://booksgames-br.slack.com/messages" matTooltipPosition="below">
                <button mat-icon-button color="warn">
                   <mat-icon >favorite</mat-icon>
                </button>
                </a>

                <button  mat-icon-button color="warn">
                  <mat-icon >fingerprint</mat-icon>
                </button>

                <button mat-icon-button color="warn">
                    <mat-icon >motorcycle</mat-icon>
                </button>

                <button  mat-icon-button color="warn">
                   <mat-icon >pets</mat-icon>
                </button>

                <button mat-icon-button color="warn">
                  <mat-icon>music_video</mat-icon>
                </button>

                <button  mat-icon-button color="warn">
                  <mat-icon>videocam</mat-icon>
                </button>  
        </div>
        <!--FIM BOTÕES -->
        <h2>Nossa Super Trupe !</h2>
             
        <a matTooltip="Graphic Designer Giulia Naranjo Aranha: aranha.gn@gmail.com , 
        Biologia Molecular / Engenharia Genética (M.Sc.)
        Universidade Federal do Rio de Janeiro   Universidade Federal do Rio de Janeiro
        Araruama Area, Brazil"
        matTooltipPosition="below" href="https://www.facebook.com/christine.n.aranha">
        <img src="../assets/aranha.jpg" style="width:70px;height:70px;">
        </a>

        <a matTooltip="Graphic Designer Tatiana Maslyuk: tatiana.maslyuk.n@gmail.com, Rússia"
        matTooltipPosition="below" href="https://www.facebook.com/profile.php?id=100011140519160">
        <img src="../assets/tania.jpg" style="width:70px;height:70px;">
        </a>

        <a matTooltip="Desenvolvedor Artista C#, Java, React, Deividy Metheler Zachetti: 
        deividyz@gmail.com, Brasil"
        matTooltipPosition="below" href="https://www.facebook.com/deividyz">
        <img src="../assets/d.jpg" style="width:70px;height:70px;">
        </a>
       
        <a matTooltip="Desenvolvedor C#, Unity, João Paulo Duarte: nenod2@gmail.com,
         Area, Brazil"
        matTooltipPosition="below" href="https://www.facebook.com/ismael.martins.160">
        <img src="../assets/jp.jpg"  style="width:70px;height:70px;">
        </a>

        <a matTooltip="Desenvolvedor Artista C#, Wesley Lótus, Mora em Fortaleza - CE,
         pertinho da Praia..
         Unity: weslotus@gmail.com, Area, Brazil" matTooltipPosition="below" 
         href="https://www.facebook.com/profile.php?id=100004849635752">
        <img src="../assets/wesley.jpg"  style="width:70px;height:70px;">
        </a>
  
        <a matTooltip="Desenvolvedor Java, JavaScript, Dart, Python, R, C#, Unity, 
        Machine Learning, Angular5 Junior Ferreira: web2ajax@gmail.com, Area, Brazil , Uruguay"
        matTooltipPosition="below" href="https://www.facebook.com/junior.osho">
        <img src="../assets/jr.jpg"  style="width:50px;height:50px;">
        </a>

        <a matTooltip="Gestor de Projetos, Lourrânio Simões -  lourranio.simoes@gmail.com, Area,
         Brazil"
        matTooltipPosition="below" href="">
        <img src="../assets/lo.jpg"  style="width:70px;height:70px;">
        </a>

    </div>
  </div>
</div>