<div class="background">
  <div class="gradient">
    <div class="container">
      <h2>Bem Vindo  Vamos Jogar ?</h2>
      <div class="actions">

          <a matTooltip="Metamorfoses, Mahabharata, Livro do Mortos Tibetanos, 
          A Divina Comédia, Utopia, Sidarta, O Pequeno Príncipe, Madame Bovary,
          O Fantasma da Ópera, Os Miseráveis, As Flores do Mal, Os Irmãos Karamazov
          Dom Quixote, Hamlet, Os Sofrimentos do Jovem Werther, Madame Bovary, Os Três Mosqueteiros,
          A Comédia Humana, Guerra e Paz, Metamorfose, Arte da Guerra, O Idiota, O Velho e o Mar
          " 
          matTooltipPosition="below">
        <a [ngClass]="animateOnRouteEnter"
           mat-raised-button color="primary" routerLink="../features">
          Nossos Games Educativos
        </a>
        </a>
        
        <a matTooltip="Assim Falou Zaratustra, Metamorfose
        " 
        matTooltipPosition="below">
        <a mat-raised-button color="accent" routerLink="../examples"
           [ngClass]="animateOnRouteEnter">
          Nossos Games FPS/RPG
        </a>
       </a>

       <a matTooltip="Se você é dautônico aqui é a opção ! :-)
        " 
        matTooltipPosition="below">
        <a mat-raised-button routerLink="../settings"
           [ngClass]="animateOnRouteEnter">
          Mude a Cor Site
        </a>
      </a>
      <a matTooltip="Nosso canal no Youtube com muita ação dos games, Game Play e Lives ! :-)
        " 
        matTooltipPosition="below">
        <span [ngClass]="animateOnRouteEnter">ou</span>
        <a mat-raised-button
           [ngClass]="animateOnRouteEnter"
           target="_blank"
           href="BooksGames-Br">
          <i class="fa fa-medium"></i> Nosso Canal no Youtube
        </a>
      </a>
      
      </div>
      <div class="get-started" [ngClass]="animateOnRouteEnter">
       
         
        <h2>Nossa Super Trupe !</h2>
       
        <a matTooltip="Graphic Designer Tatiana Maslyuk: tatiana.maslyuk.n@gmail.com"
        matTooltipPosition="below" href="https://www.facebook.com/profile.php?id=100011140519180">
        <img src="../assets/tania.jpg" style="width:80px;height:80px;">
        </a>
       
        <a matTooltip="Desenvolvedor C#, Unity, Ismael Martins: nenod2@gmail.com"
        matTooltipPosition="below" href="https://www.facebook.com/joaopauloplayer">
        <img src="../assets/neno.jpg" style="width:80px;height:80px;">
        </a>
       
        <a matTooltip="Desenvolvedor C#, Unity, João Paulo Duarte: joaopauloold@gmail.com"
        matTooltipPosition="below" href="https://www.facebook.com/ismael.martins.180">
        <img src="../assets/jp.jpg"  style="width:80px;height:80px;">
        </a>

        <br> 
        <a matTooltip="Desenvolvedor Java, JavaScript, Dart, Python, R, C#, Unity, Machine Learning, Angular5 Junior Ferreira: web2ajax@gmail.com"
        matTooltipPosition="below" href="https://www.facebook.com/junior.osho">
        
        <img src="../assets/jr.jpg"  style="width:80px;height:80px;">
        </a>
        <a matTooltip="Professor Alexandre Normandia da Rocha, Formado em Filosofia, Desenvolvedor Artista C#, Java,
         Unity: alenormandia@gmail.com" matTooltipPosition="below" href="https://www.facebook.com/normandia86">
        <img src="../assets/alex.jpg"  style="width:80px;height:80px;">
        </a>
   
      </div>
    </div>
  </div>
</div>
