<div class="container">
  <mat-accordion>

        <a matTooltip="Machine Learning" matTooltipPosition="below">
            <a mat-raised-button
               [ngClass]="animateOnRouteEnter"
               target="_blank"
               href="https://www.youtube.com/watch?v=L3AZWMbnVgY&list=PLEk4GUD8QoXmZMUu372uDvWNoHZDphi8B">
              <i class="fa fa-youtube"></i> Curso Ultra - Avançado Completo em  Machine Learning / C# / Unity
            </a>
        </a>

        <a matTooltip="Curso Avançado Completo de UNITY / C#." matTooltipPosition="below">
                <a mat-raised-button
                   [ngClass]="animateOnRouteEnter"
                   target="_blank"
                   href="https://www.youtube.com/watch?v=PiNX5bAVrrI&list=PLEk4GUD8QoXkxStWBQm6hv2fVQil4KVLl">
                  <i class="fa fa-youtube"></i> Curso Avançado Completo em C# / Unity
                </a>
        </a>

        <a matTooltip="Curso Avançado Completo de UNITY / C#." matTooltipPosition="below">
            <a mat-raised-button
               [ngClass]="animateOnRouteEnter"
               target="_blank"
               href="https://developers.google.com/machine-learning/crash-course/prereqs-and-prework">
              <i class="fa fa-youtube"></i> Curso Google Machine LEarning
            </a>
    </a>
  
      

        <a matTooltip="GitHub é uma plataforma de hospedagem de código-fonte com controle de versão usando o Git. Ele permite que programadores, 
        utilitários ou qualquer usuário cadastrado na plataforma contribuam em projetos privados e/ou Open Source de qualquer lugar do mundo." matTooltipPosition="below">
            <a mat-raised-button
               [ngClass]="animateOnRouteEnter"
               target="_blank"
               href="https://www.youtube.com/embed/c4kjQN7tmAw">
              <i class="fa fa-youtube"></i> Curso de Git
            </a>
        </a>

    <mat-expansion-panel>
     <mat-expansion-panel-header>
          
        <mat-panel-title>
           Curso Básico for Dummy !
        </mat-panel-title>
        <mat-panel-description>
          Agora começa a Brincadeira, Agora nos separamos os Homens dos Ratos !
        </mat-panel-description>
        <i class="material-icons">wb_incandescent</i>
      </mat-expansion-panel-header>
     
      <mat-card>
            2<iframe width="800" height="600" src="https://www.youtube.com/embed/1YofRV2j9O4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </mat-card>
      <mat-card>
          3<iframe width="800" height="600" src="https://www.youtube.com/embed/DELI-3Y3sIU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </mat-card>
      <mat-card>
          4<iframe width="800" height="600" src="https://www.youtube.com/embed/yNLUqQUt3p4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </mat-card>
      <mat-card>
          5<iframe width="800" height="600" src="https://www.youtube.com/embed/t508aU261eY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </mat-card>
      <mat-card>
          6<iframe width="800" height="600" src="https://www.youtube.com/embed/jV89fMFIcjg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </mat-card>
      <mat-card>
          7<iframe width="800" height="600" src="https://www.youtube.com/embed/d9QCMSePBPc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </mat-card>
      <mat-card>
          8<iframe width="800" height="600" src="https://www.youtube.com/embed/tpjb2HC5v30" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </mat-card>
      <mat-card>
          9<iframe width="800" height="600" src="https://www.youtube.com/embed/ayNZhKp06J4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </mat-card>
      <mat-card>
          10<iframe width="800" height="600" src="https://www.youtube.com/embed/kcsgGt4d64Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </mat-card>
      <mat-card>
          11<iframe width="800" height="600" src="https://www.youtube.com/embed/LNBBeY7lfsU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </mat-card>
      <mat-card>
          12<iframe width="800" height="600" src="https://www.youtube.com/embed/oVOMFgGFPX0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </mat-card>
      <mat-card>
          13<iframe width="800" height="600" src="https://www.youtube.com/embed/GwNBL0BZnHE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </mat-card>
      <mat-card>
          14<iframe width="800" height="600" src="https://www.youtube.com/embed/9sLNNY12NRY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </mat-card>
      <mat-card>
          15<iframe width="800" height="600" src="https://www.youtube.com/embed/YHd-4Zb3Xbg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </mat-card>
      <mat-card>
          16<iframe width="800" height="600" src="https://www.youtube.com/embed/F6763kMJhuU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </mat-card>
      <mat-card>
          17<iframe width="800" height="600" src="https://www.youtube.com/embed/qpBKGkVzMGo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </mat-card>
      <mat-card>
          18<iframe width="800" height="600" src="https://www.youtube.com/embed/kY9G2H586lw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </mat-card>
    </mat-expansion-panel>

     </mat-accordion>

</div>

