<div class="container">

  <div class="row align-items-end">
    <div  class="col-md-10 col-lg-15" [ngClass]="animateOnRouteEnter">
  <mat-card>

  <div class="example-container">

    <mat-card-title>Escreva sua Mensagem, Retorno em 5 Minutos !</mat-card-title>

      <mat-form-field>
       <input [(ngModel)]="nome" required matInput placeholder="Nome" >
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="email" required type="email" matInput placeholder="E-mail: fulano@gmail.com">
      </mat-form-field>
      <mat-form-field>
          <input [(ngModel)]="celular" required type="tel" size="20" 
          minlength="9" maxlength="14" matInput placeholder="Celular: 123-123-1234-1234" 
          pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}">
      </mat-form-field>
      <mat-form-field>
       <textarea [(ngModel)]="mensagem" required rows="10" cols="25"  matInput placeholder="Mensagem"></textarea>
      </mat-form-field>
  
    <mat-form-field>
      <mat-select [(ngModel)]="area" placeholder="Selecione uma Área">
        <mat-option >Qual Área ?</mat-option>  
        <mat-option value="Arte">Arte</mat-option>
        <mat-option value="Desenvolvimento">Desenvolvimento</mat-option>
        <mat-option value="RH">RH</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <button mat-button (click)="createContato()">Start Game
      <i class="material-icons">mail_outline</i>
  </button>
</mat-card>
</div>
</div>



</div>