<div class="container">
  <div class="row">
    <div class="col-sm-12"><h1>Aqui Você Compra seu Game</h1></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4 icon-form-field">
      <mat-icon color="accent">color_lens</mat-icon>
      <mat-form-field>
        <mat-select placeholder="Color theme" name="theme"
                    [ngModel]="settings?.theme" (change)="onThemeSelect($event)">
          <mat-option *ngFor="let t of themes" [value]="t.value">
            {{t.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4 icon-form-field">
      <mat-icon color="accent">lightbulb_outline</mat-icon>
      <mat-form-field>
        <mat-select placeholder="Auto night mode (from 21:00 to 7:00)"
                    name="auto-night-mode"
                    [ngModel]="settings?.autoNightMode?.toString()"
                    (change)="onAutoNightModeSelect($event)">
          <mat-option value="false">Off</mat-option>
          <mat-option value="true">On</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

<mat-card class="example-card">

  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
  <img mat-card-image src="../assets/macu4.jpg">
  <mat-card-content>
    <p>
    
    </p>
  </mat-card-content>

   <mat-card-actions>
    <button mat-button>Gostei</button>
    <button mat-button>Compartilhar</button>
  </mat-card-actions>
</mat-card>


</div>

